/* Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}
/* End of Default Styles */

body {
  background-color: #222; /* default dark background */
  color: white;
  font-family: Arial, sans-serif;
  transition: background-color 0.5s, color 0.5s;
}

/* Light theme */
.light-theme {
  background-color: #cbd6cc;
  color: #222;
}


/*FOR CLASS */
.logo-icon {
  height: 50px;       
  width: auto;
  margin-right: 1rem; 
  align-items: center;
}

.logo-img {
  height: 20rem;   /* adjust as needed */
  width: auto;
}
/*END FOR CLASS */

/* Container */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Navigation */
.navbar {
  width: 100%;
  height: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid rgba(55, 54, 54, 0.1);
  transition: all 0.5s;
}

.sticky.navbar {
  height: 8rem;
  background-color: #090909;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 7rem;
}

.logo i {
  font-size: 4rem;
  -webkit-text-stroke: 0.1rem #fff;
  color: transparent;
  margin-right: 1rem;
}

.logo-text {
  display: flex;          /* horizontal layout */
  flex-direction: row;    /* optional, default is row */
  align-items: center;    /* vertically align icon and logo-img */
  gap: 1rem;              /* space between icon and logo-img */
}

.logo-text span:nth-child(1) {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
}

.logo-text span:nth-child(2) {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #eee;
  margin-top: -0.7rem;
}

.nav-right {
  display: flex;
  align-items: right;
  margin-left: 70rem;
}

.navigation a {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #eee;
  margin-right: 3rem;
  letter-spacing: 0.2rem;
  position: relative;
  transition: color 0.3s;
  margin-left: 2px;
}

.navigation a:hover {
  color: #c49b63;
}

.navigation a:nth-child(1) {
  color: #c49b63;
}

/* End of Navigation */

/* Landing */
.landing {
  width: 100%;
  height: 95vh;
  position: relative;
}

.banner {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  text-align: center;
}

.banner h3{
  color:#f0eae7;
  font-family: 'Times New Roman', Times, serif;
}

.main-heading {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  color: #c49b63;
}

.banner h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 6rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  margin: 2rem 0;
  line-height: 1.5;
  letter-spacing: 0.2rem;
  white-space: nowrap;
}

.banner p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  width: 60rem;
  margin: 0 auto 2rem auto;
  letter-spacing: 0.1rem;
}

.banner-btn {
  width: 12rem;
  height: 5.5rem;
  cursor: pointer;
  margin: 0.1rem;
  font-size: 1.3rem;
  transition: all 0.3s;
}

.banner-btn-1 {
  background-color: #c49b63;
  border: none;
  color: #222;
}

.banner-btn-1:hover {
  background-color: transparent;
  color: #c49b63;
  border: 0.1rem solid #c49b63;
}

.banner-btn-2 {
  background-color: transparent;
  color: #c49b63;
  border: 0.1rem solid #fff;
  color: #fff;
}

.banner-btn-2:hover {
  background-color: #ffffff;
  color: #222;
  border: 0.1rem solid #ffffff;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #dfe4d7; /* your desired color */
  font-size: 1.5rem; /* optional size */
}

.swiper-button-prev {
  margin-left: 2rem; /* distance from left */
}

.swiper-button-next {
  margin-right: 2rem; /* distance from right */
}

.swiper {
  width: 100%;
  height: 85%;
}

.swiper-button-prev {
  left: 2rem; /* distance from left */
}

.swiper-button-next {
  right: 2rem; /* distance from right */
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

span.swiper-pagination-bullet {
  width: 2rem;
  height: 2rem;
  opacity: 1;
  margin-right: 1.5rem !important;
  background-color: #aaa;
  position: relative;
}

span.swiper-pagination-bullet::after {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 0.2rem solid #aaa;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  border: 0.2rem solid #fff;
}

.landing-contact {
  position: absolute;
  top: 85%;
  left: 0;
  width: 100%;
  height: 15vh;
  background-color: #000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}

.details {
  display: flex;
}

.details i {
  font-size: 2rem;
  color: #c49b63;
  margin-right: 2rem;
}

.details div {
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
}

.details div span:nth-child(1) {
  font-size: 1.6rem;
  color: #C9A89F;
  margin-bottom: 0.5rem;
}

.details div span:nth-child(2) {
  font-size: 1.4rem;
  color: #706677;
  width: 30rem;
}
/* End of Landing */

/* About */
.about {
  width: 100%;
  height: 60vh;
  background-color: #483d50;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding-right: 100px;
  padding-top: 40px;
  
}

.about div {
  width: 50rem;
  height: 35rem;
  margin: 0 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about i {
  width: 9rem;
  height: 10rem;
  font-size: 4rem;
  -webkit-text-stroke: 0.2rem #c3acc6;
  color: transparent;
  border: 0.1rem solid #c3acc6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about h1 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #f5e7f7;
}

.about p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #b7b2b8;
}

/* End of About */

/* Menu */
.menu {
  width: 100%;
  height: 70vh;
  background: linear-gradient(#000000, #3d3245),
  url(images/image8.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.menu-left {
  text-align: right;
  margin-right: 3rem;
  width: 50%;
}

.menu-left .main-heading {
  font-size: 5rem;
}

.menu-left h1 {
  font-size: 6rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  margin-top: -4rem;
}

.menu-left p {
  font-size: 1.4rem;
  color: #777;
  width: 50rem;
  margin: 2rem 0 4rem auto;
  line-height: 1.2;
}

.menu-btn {
  width: 15rem;
  height: 5.5rem;
  cursor: pointer;
  margin: 0.1rem;
  font-size: 1.3rem;
  background-color: transparent;
  border: 0.1rem solid #8f7249;
  color: #8f7249;
  text-transform: uppercase;
  transition: all 0.3s;
}

.menu-btn:hover {
  background-color: #c49b63;
  color: #222;
}

.menu-right {
  margin-left: 3rem;
  width: 50%;
}

.menu-right-images {
  width: 60rem;
  display: flex;
  flex-wrap: wrap;
}

.menu-img-wrapper {
  width: 25rem;
  height: 25rem;
  margin: 2rem;
  overflow: hidden;
}

.menu-right-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.6s;
}

.menu-img-wrapper:hover img {
  transform: scale(1.3);
}
/* End of Menu */

/* Data */
.data {
  width: 100%;
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url(images/image7.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data > div {
  width: 25rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.icon-wrapper {
  width: 8rem;
  height: 8rem;
  position: relative;
  cursor: pointer;
}

.icon-bg {
  display: block;
  width: 100%;
  height: 100%;
  border: 0.1rem solid #c49b63;
  transition: all 0.3s;
}

.data i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  -webkit-text-stroke: 0.2rem #c49b63;
  color: transparent;
  transition: all 0.3;
  z-index: 100;
}

.icon-wrapper:hover .icon-bg {
  background-color: #c49b63;
  -webkit-text-stroke: 0.2rem #2a2727;
  transform: rotateZ(135deg);
}

.icon-wrapper:hover i {
  -webkit-text-stroke: 0.2rem #2a2727;
}

.num {
  font-size: 3rem;
  color: #c49b63;
}

.info {
  font-size: 1.8rem;
  color: #999;
}
/* End of Data */

/* Customers */
.customers {
  width: 100%;
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url(images/image8.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}

.customers-banner {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.customers-banner .main-heading {
  font-size: 6rem;
  position: relative;
  z-index: 10;
}

.customers-banner h1 {
  font-size: 6rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  margin-top: -4rem;
}

.customers-banner p {
  font-size: 1.6rem;
  color: #777;
  margin-top: 4rem;
  line-height: 1.2;
}

.clients {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
}

.client {
  width: 25%;
  height: 25rem;
  background-color: #c49b63;
  padding: 2rem;
  color: #fff;
  position: relative;
}

.client:nth-child(2) {
  height: 31rem;
}

.client:nth-child(4) {
  height: 21rem;
}

.client:nth-child(even) {
  opacity: 0.9;
}

.client img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 2rem;
}

.client p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.client div {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 2rem;
}

.client div span {
  font-size: 1.4rem;
  text-transform: uppercase;
}

/* End of Customers */

/* Contact */
.contact {
  width: 100%;
  height: 60vh;
  background-color: #000;
  display: flex;
}

.contact-left {
  width: 50%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url(images/image1.jpg) center no-repeat;
  background-size: cover;
}

.contact-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-right h1 {
  font-size: 4rem;
  font-weight: 300;
  color: #fff;
  margin: 0 0 3rem 2rem;
}

.input-group {
  display: flex;
}

.input-group input,
textarea {
  width: 30rem;
  height: 5rem;
  padding: 1rem 1rem 2rem 0;
  margin: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
  color: #fff;
}

.input-group textarea {
  resize: none;
  height: 5rem;
}

textarea::-webkit-scrollbar {
  display: none;
}

.input-group input::placeholder,
.input-group textarea::placeholder {
  color: #fff;
}

.contact-btn {
  width: 30rem;
  height: 6rem;
  background-color: #c49b63;
  color: #2a2727;
  margin: 1rem 2rem;
  border: none;
  cursor: pointer;
}
/* End of Contact */

.reserve-btn {
  margin-top: 1.5rem;
  border-color: #fff;
  color: #fff;
}

.reserve-btn:hover {
  background-color: #fff;
  color: #2a2727;
  border-color: #fff;
}

/* Footer */
footer {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
}

.copyright {
  font-size: 1.6rem;
  color: #999;
}

/* End of Footer */
/* End of Container */

body.light-theme {
  background-color: rgb(240, 234, 231);
  color: #222;
}

/* Navbar */
body.light-theme .navbar {
  background-color: #c9b8b0;
}

body.light-theme .navbar .logo-text span,
body.light-theme .navigation a {
  color: #222;
}

body.light-theme .navigation a:hover {
  color: #c49b63;
}


/* Hero / Landing Section */
body.light-theme .landing {
  background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)),
              url(images/image8.jpg) center/cover no-repeat;
}

body.light-theme .banner h1 {
  color: hsl(0, 0%, 100%);
}

body.light-theme .banner p {
  color: #ffffff;
}

body.light-theme .banner-btn-1,
body.light-theme .banner-btn-2 {
  border-color: #ffffff;
  color: #ffffff;
}

body.light-theme .banner-btn-2:hover {
  background-color: #ffffff;
  color: #000000;
}

/* About Section */
body.light-theme .about {
  background-color: #f0eae7;
  color: #222;
}

body.light-theme .about h1 {
  color: #4e342e;
}

body.light-theme .about i {
  -webkit-text-stroke: 0.2rem #4e342e;
  border: 0.1rem solid #5c595d;
}

body.light-theme .about p {
  color: #3a3939; /* choose any color you want */
}

/* Menu Section */
body.light-theme .menu {
  background: linear-gradient(#fff7f3, #c8aea1),
              url(images/image8.jpg) center/cover no-repeat;
}

body.light-theme .menu-left h1 {
  color: #222;
}

body.light-theme .menu-left p {
  color: #444;
}

/* Contact / Footer Section */
body.light-theme .landing-contact {
  background-color: #f7f3f1;
  color: #222;
}

body.light-theme .landing-contact i {
  color: #c09b67;
}

body.light-theme footer {
  background-color: #f7f3f1;
  color: #000000;
}

/* Transitions for smooth change */
body, .navbar, .landing, .about, .menu, footer {
  transition: background-color 0.6s ease, color 0.6s ease, background 0.6s ease;
}

/* ===== THEME TOGGLE BUTTON ===== */
#themeToggle {
  background: transparent;
  color: #c49b63;
  border: 1px solid #c49b63;
  font-size: 1.2rem;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 2rem; /* space between toggle and first link */
}

#themeToggle:hover {
  background: #c49b63;
  color: #222;
}

/* Light mode variation */
body.light-theme #themeToggle {
  color: #fff;
  border-color: #fff;
}

body.light-theme #themeToggle:hover {
  background: #fff;
  color: #c49b63;
}



/* Responsive */
@media (max-width: 1500px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1100px) {
  html {
    font-size: 45%;
  }
  .menu-img-wrapper {
    width: 18rem;
    height: 18rem;
  }

  .customers {
    height: 120vh;
  }

  .clients {
    flex-direction: column;
  }

  .client {
    width: 100%;
    height: 15rem;
  }

  .client:nth-child(2) {
    height: 15rem;
  }

  .client:nth-child(4) {
    height: 15rem;
  }

  .contact-left {
    display: none;
  }

  .contact-right {
    width: 100%;
  }

  .input-group input,
  textarea,
  .contact-btn {
    width: 40rem;
  }
}

@media (max-width: 900px) {
  .landing-contact div span:nth-child(2) {
    display: none;
  }
  .menu-right {
    display: none;
  }

  .menu-left {
    width: 100%;
    text-align: center;
    margin-right: 0;
  }

  .menu-left p {
    margin: 2rem auto 4rem auto;
  }

  .customers {
    height: 140vh;
  }

  .customers-banner p {
    width: 60rem;
  }

  .client {
    height: 18rem;
  }

  .client:nth-child(2) {
    height: 18rem;
  }

  .client:nth-child(4) {
    height: 18rem;
  }

  .contact {
    height: 80%;
  }

  .input-group {
    flex-direction: column;
  }

  .input-group input,
  textarea,
  .contact-btn {
    width: 60rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 35%;
  }

  .landing-contact {
    height: 19rem;
    flex-direction: column;
    align-items: center;
  }
  .details div {
    width: 20rem;
  }

  .about {
    height: 80vh;
    flex-direction: column;
  }

  .about div {
    width: 60rem;
    margin: 0 2rem;
  }

  .customers {
    height: 110vh;
  }
}

@media (max-width: 450px) {
  .logo {
    display: none;
  }

  .input-group input,
  textarea,
  .contact-btn {
    width: 50rem;
  }
}

/* End of Responsive */